[Unit]
Description=Pub: 8830 - target vel; Pub - 8810 drivebase telemetry

[Service]
ExecStart=/usr/bin/python3 /home/pi/RoverODrive/main.py
StandardOutput=syslog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
